<div class="col-md-12" style="border-bottom:1px solid #ddd; margin-bottom:20px;">
  <h2 style="padding-left:50px;"><img src="/realestate.png"></h2>
</div>
<div class="container">

  <% if @result.present? %>

    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= @result1.project %></th>
          <th><%= @result1.price %></th>
          <th><%= @result1.room %></th>
          <th><%= @result1.area %></th>
          <th><%= @result1.person %></th>
          <th><%= @result1.updated_at %></th>
        </tr>
      </thead>
      <tbody>
        <% @result.each do |rs| %>
          <% unless @result1.project == rs.project %>
            <tr>
              <% project = truncate(rs.project, :length => 30, :separator => ' ') %>
              <% area = truncate(rs.area, :length => 20, :separator => ' ') %>
              <% person = truncate(rs.person, :length => 20, :separator => ' ') %>
              <% updated_at = truncate(rs.updated_at, :length => 20, :separator => ' ') %>
              <td><%= link_to project, rs.link, :target=> "blank" %></td>
              <td><%= link_to rs.price, rs.link, :target=> "blank" %></td>
              <td><%= link_to rs.room, rs.room_link, :target=> "blank" %></td>
              <td><%= link_to area, rs.area_link, :target=> "blank" %></td>
              <td><%= link_to person, rs.person_link, :target=> "blank" %></td>
              <td><%= link_to updated_at, rs.link, :target=> "blank" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

  <% end %>
</div>